# Python files
*.pyc
__pycache__

# C compiler outputs
*.so
*.o

# python build outputs
dist

# Environment files
.vscode
.env
.venv
env
venv

# Data directories
data
*.pkl

# data files
*.dat

# pytorch models
*.pth

# mac file structure
.DS_STORE
